Django>=1.8
Pillow>=2.7.0 # Insist on at least 2.7.0 as it fixes a security hole.
django-sortedm2m>=1.1.1
ExifRead>=2.1.2
pytz>=2013.9
django-photologue>=3.6
django-debug-toolbar>=1.6
raven>=5.27.1 # error log reporting
psycopg2>=2.6.2
